<% content_for :fb_meta do %>
<meta property="og:type" content="article"/>
<meta property="twitter:url" content="<%= blog_url @blog %>" />
<meta property="og:url" content="<%= blog_url @blog %>" />
<meta property="og:title" content="<%= @blog.title %>" />
<meta property="og:description" content="<%= @blog.snippet %>" />
<% end %>

<%= render 'layouts/nav' %>
<div class="container">
  <%= render 'blogs/single', {blog: @blog} %>
  <%= render 'blogs/list', {heading: 'Recent awesomeness', blogs: @blogs} %>
  <%= render 'videos/sidebar', {videos: @videos} %>
</div>