<!doctype html>
<html prefix="og: http://ogp.me/ns#">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Raw Median</title>
		<meta name="description" content="VISUAL MEDIA is the most powerful way for a business to gather attention. Raw Median is working to bring industry standard film production techniques to promote your endeavors. From MUSIC VIDEOS to COMMERCIALS and WEB DESIGN, we can help your project GET NOTICED." />
		<% if @id %>
		<meta property="og:site_name" content="Raw Median">
    <meta property="og:type" content="article">
    <meta property="og:title" content="<%= @video_data['title'] %>">
    <meta property="og:description" content="<%= @video_data['description'] %>">
    <meta property="og:url" content="http://rawmedian.com/vid/<%= @video_data['id'] %>">
    <meta property="og:image" content="<%= @video_data['thumbnail_large'] %>">
    <meta property="og:video" content="http://vimeo.com/moogaloop.swf?clip_id=<%= @video_data['id'] %>">
    <meta property="og:video:secure_url" content="https://vimeo.com/moogaloop.swf?clip_id=<%= @video_data['id'] %>">
    <meta property="og:video:type" content="application/x-shockwave-flash">
    <meta property="og:video:width" content="640">
    <meta property="og:video:height" content="360">
		<% else %>
		<meta property="og:type" content="website" />
		<meta property="og:title" content="Raw Median" />
		<meta property="og:description" content="VISUAL MEDIA is the most powerful way for a business to gather attention. Raw Median is working to bring industry standard film production techniques to promote your endeavors. From MUSIC VIDEOS to COMMERCIALS and WEB DESIGN, we can help your project GET NOTICED." />
		<% end %>
		<link rel="stylesheet" href="/stylesheets/reset.css" />
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<div id="sidebar">
			<h1>Raw<br />Median</h1>
			<ul id="mainNav">
				<li><a href="#mainWrapper" class="anchored active">Home</a></li>
				<br />
				<li><a href="#work" class="anchored">Work</a></li>
				<br />
				<li><a href="#contact" class="anchored">Contact</a></li>
			</ul>
		</div>
		<div id="mainWrapper">
			<div id="content">
				<div class="page">
					<p id="tagline"><em>VISUAL MEDIA</em> IS THE MOST POWERFUL WAY FOR A BUSINESS TO GATHER ATTENTION</p>
					<hr />
					<p id="secondTagline">Raw Median is working to bring industry standard film production techniques to promote your endeavors.</p>
					<a id="continue" class="anchored" href="#work">
						<div class="play-button-wrapper">
							<div class="play-button"></div>
						</div>
						<p>click here to continue to our work</p>
					</a>
				</div>
				<div id="work" class="page">
					<div id="videos">
						<% @videos.each_with_index do |video,i| %>
						<div class="video">
							<a rel="<%= i %>" id="<%= video['id'] %>" href="#vid" class="thumb">
								<img src="<%= video['thumbnail_medium'] %>" />
								<div class="play-button-wrapper">
									<div class="play-button"></div>
								</div>
							</a>
							<h4><%= video['title'] %></h4>
						</div>
						<% end %>
						<div id="modal">
							<div id="videoInfo">
								<h4></h4>
								<p class="description"></p>
							</div>
							<div id="videoPlayer"></div>
						</div>
					</div>
				</div>
				<div id="contact" class="page">
					<h2>Have a question?</h2>
					<form action="#none">
						<div>
							<label for="from">Your Email: </label>
							<input type="email" id="from" required="required"/>
						</div>
						<div>
							<label for="message" required="required">Inquiry: </label>
							<textarea id="message"></textarea>
						</div>
						<div>
							<input type="submit" value="Send Message" id="sendMessage" />
						</div>
					</form>
				</div>
			</div>
		</div>

		<div id="fb-root"></div>
		<script type="text/javascript">
		  (function() {
		    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		    po.src = 'https://apis.google.com/js/plusone.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
		  })();
		</script>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=377450545631217";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script type="text/javascript">
		<% if @id %>
			var vid_id = '<%= @id %>';
		<% else %>
			var vid_id = null;
		<% end %>
		var videos = <%= @videos.to_json %>;
		</script>
		<script type="text/javascript" src="/javascripts/scripts.js"></script>
	</body>
</html>