<section id="intro">
  <div class="featuring">
    <div class="container">
      <%= image_tag 'halo_example.png' %>
      <%= image_tag 'aperturegrunge.png' %>
    </div>
  </div>
  <div class="container">
    <h2>
      <% if @tag %>
      <em>#<%= @tag.title %></em>
      <% else %>
      <em>Visual Media</em> is the most powerful way for a business to gather attention
      <% end %>
    </h2>
  </div>
</section>

<%= render 'layouts/nav' %>

<%= render 'videos/list' %>