<section id="intro">
  <div class="featuring">
    <div class="container">
      <%= image_tag 'banner-SC1.png' %>
      <%= image_tag 'banner-SC2.png' %>
      <%= image_tag 'banner-SC3.png' %>
      <%= image_tag 'banner-SC4.png' %>
      <%= image_tag 'banner-SC5.png' %>
      <%= image_tag 'banner-SC6.png' %>
      <%= image_tag 'banner-SC7.png' %>
      <%= image_tag 'banner-SC8.png' %>
    </div>
  </div>
  <div class="container">
    <h2>
      <% if @tag %>
      <em>#<%= @tag.title %></em>
      <% else %>
      Need some <em>visual media</em> in your life? We think so.
      <% end %>
    </h2>
  </div>
</section>

<%= render 'layouts/nav' %>

<%= render 'videos/list' %>