<% content_for :fb_meta do %>
<meta property="og:type" content="video"/>
<meta property="og:image" content="<%= @video.thumb %>"/>
<meta property="og:video" content="https://vimeo.com/moogaloop.swf?clip_id=<%= @video.vimeo_id %>&amp;amp;server=vimeo.com&amp;amp;fullscreen=1&amp;amp;show_title=1&amp;amp;show_byline=0&amp;amp;show_portrait=0&amp;amp;color=377555" />
<meta property="og:video:height" content="360" />
<meta property="og:video:width" content="640" />
<meta property="og:video:type" content="application/x-shockwave-flash" />
<meta property="twitter:card" content="player" />
<meta property="twitter:image" content="<%= @video.thumb %>" />
<meta property="twitter:player" content="https://vimeo.com/moogaloop.swf?clip_id=<%= @video.vimeo_id %>&amp;amp;server=vimeo.com&amp;amp;fullscreen=1&amp;amp;show_title=1&amp;amp;show_byline=0&amp;amp;show_portrait=0&amp;amp;color=377555" />
<meta name="twitter:player:width" value="400" />
<meta name="twitter:player:height" value="300" />
<meta property="twitter:url" content="<%= video_url @video %>" />
<meta property="og:url" content="<%= video_url @video %>" />
<meta property="og:image" content="<%= @video.thumb %>" />
<meta property="og:title" content="<%= @video.title %>" />
<meta property="og:description" content="<%= @video.description %>" />
<% end %>
<section class="video">
  <aside class="video">
    <h2><%= @video.title %></h2>
    <!-- to get api later add api=1 and player_id= -->
    <iframe src="http://player.vimeo.com/video/<%= @video.vimeo_id %>?title=0&byline=0&portrait=0&color=377555" width="533" height="300" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  </aside>
  <aside class="videos">
    <h3>other videos</h3>
    <% @videos.each do |video| %>
    <%= link_to video.title, video_url(video) %>
    <% end %>
  </aside>
  <aside class="tags">
    <h3>tags</h3>
    <% @tags.each do |tag| %>
    <%= link_to tag.title, videos_url(:tag => tag) %>
    <% end %>
  </aside>
  <aside class="share">
    <h3>share</h3>
    <% unless TWEET_COPY.nil? %>
    <%= link_to 'tweet', "//twitter.com/intent/tweet?url=#{uri_encode(video_url(@video))}&text=#{uri_encode(@video.title)}", :class => 'tweet-btn' %>
    <% end %>
    <% unless FB_ID.nil? %>
    <%= link_to 'share', '', :class => 'fb-share-btn' %>
    <% end %>
  </aside>
</section>
