<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Raw Median" />
  <meta name="twitter:site" value="Raw Median" />
  <meta property="fb:app_id" content="<%= FB_ID %>" />
  <%= yield :fb_meta %>
  <title>rawmedian</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= body_id %>">

  <%= yield %>

  <footer id="contact">
    <%= render 'pages/contact' %>
  </footer>

<script>
  var globals = {
    fbid: '<%= (!FB_ID.nil?) FB_ID : '' %>'
  };
</script>
<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
<div id="fb-root"></div>
<script type="text/javascript" src="//connect.facebook.net/en_US/all.js"></script>
<%= javascript_include_tag "application" %>
</body>
</html>
